<div class="row">
  <div class="col-xs-12">
    <a [routerLink]="'/'" class="btn btn-primary">Go Back</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <img [src]="artItem.primaryImage || '/no-image-found.png'" style="max-height: 500px;" [alt]="artItem.title"
      class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{artItem.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a *ngIf="artItem.objectURL !== ''" [href]="artItem.objectURL" target="_blank">View on Met Museum
      Website</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Description</h4>
  </div>
</div>