<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form (ngSubmit)="onSubmitById(searchById)" #searchById="ngForm">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Search By id" [(ngModel)]="idQuery" name="objectID">
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <h4 style="text-align: center;">OR</h4>
    <form (ngSubmit)="onSubmitByOther(searchByOther)" #searchByOther="ngForm">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="title">Search by title</label>
            <input type="text" id="title" class="form-control" placeholder="Search By title" [(ngModel)]="titleQuery"
              name="title">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="filter">Filter By Department</label>
            <select id="filter" class="form-control" [(ngModel)]="departmentIdQuery" name="departmentId">
              <option *ngFor="let dept of departments" [value]="dept.departmentId">{{dept.displayName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row pull-right">
        <div class="col-xs-12">
          <button class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>