<app-search></app-search>
<app-pagination-controls (moveToNextPage)="incrementPageNumber()"
  (moveToPreviousPage)="decrementPageNumber()"></app-pagination-controls>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6 col-md-4" *ngFor="let artItem of paginatedArtItems$ | async">
      <app-art-item [artItem]="artItem"></app-art-item>
    </div>
  </div>
</div>
<app-pagination-controls (moveToNextPage)="incrementPageNumber()"
  (moveToPreviousPage)="decrementPageNumber()"></app-pagination-controls>